<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util-3.1.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
       ">
    <!-- Data Source -->
    <bean id="dataSource_client" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${client.jdbc.driverClassName}"/>
        <property name="url" value="${client.jdbc.url}"/>
        <property name="username" value="${client.jdbc.username}"/>
        <property name="password" value="${client.jdbc.password}"/>
    </bean>

    <!-- Entity Manager Factory -->
    <bean id="entityManagerFactory_client" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource_client"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="database" value="${application.database.database}"/>
                <property name="databasePlatform" value="${client.hibernate.dialect}"/>
                <property name="showSql" value="${application.database.showSql}"/>
                <property name="generateDdl" value="${application.database.generateDdl}"/>
            </bean>
        </property>
        <property name="persistenceXmlLocation" value="classpath:META-INF/persistence_site.xml"/>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.transaction.manager_lookup_class">
                    com.atomikos.icatch.jta.hibernate3.TransactionManagerLookup 
                </prop>
                <prop key="hibernate.transaction.factory_class">
                    org.hibernate.engine.transaction.internal.jta.CMTTransactionFactory 
                </prop> 
            </props>
        </property>
    </bean>
    
    <!-- SITE DAOs -->
    <bean id="siteAccountDao" class="org.krohm.gameengine.database.daos.site.AccountDao" >
        <property name="entityManagerFactory" ref="entityManagerFactory_client"/>
    </bean> 

</beans>